{{#each this}}
  <div class='photo-card'>
    <a class='gallery__item' href='{{this.largeImageURL}}'>
      <img
        class='gallery__image'
        src='{{this.webformatURL}}'
        alt='{{this.tags}}'
        loading='lazy'
      />
    </a>
    <div class='info'>
      <p class='info-item'>
        <b>Likes: <span class='info-text'>{{this.likes}}</span></b>
      </p>
      <p class='info-item'>
        <b>Views: <span class='info-text'>{{this.views}}</span></b>
      </p>
      <p class='info-item'>
        <b>Comments: <span class='info-text'>{{this.comments}}</span></b>
      </p>
      <p class='info-item'>
        <b>Downloads: <span class='info-text'>{{this.downloads}}</span></b>
      </p>
    </div>
  </div>
{{/each}}